html
  head
    title= title
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
 
  body
    div.container
      a.btn.btn-primary(href="/nonskem") HOME
      h1.text-center= message
      table.table.table-striped.table-bordered
        thead
          tr
            th Date
            th Type
            th Recipient 
            th Beginning Amount
            th Amount Due
            th Balance
        tbody
          each val in transactions
            tr
              td 
                p #{val.Created_date}   
              td 
                p #{val.TypeOfPayment}
              td 
                p #{val.Recipient}  
              td 
                p &pound;#{val.BeginningAmount}   
              td
                p -&pound;#{val.AmountDue} 
              td
                p &pound;#{val.Balance} 
              