html
  head
    title= title
    style
      include ../../styles/styles.css
    
  body.skemBack
    div.container-fulid
      a(href="/skem")
        button#HomeButton HOME
      h1= message
      #CheckBalanceBook
        #CheckBalanceLeft
          #CheckBalanceArrowBoxLeft
          #LeftBlueBar
            #BlueDate 
              p Date 
            #BlueType 
              p Type
            #BlueCompanies 
              p Recipient
          #CheckBalanceInformation
            #DateStrip
              each val in transactions 
                p #{val.Created_date}
            #TypeStrip
              each val in transactions 
                p #{val.TypeOfPayment}
            #CompaniesStrip
              each val in transactions 
                p #{val.Recipient}
        #CheckBalanceRight
          #CheckBalanceArrowBoxRight
          #LeftBlueBar
            #BlueBeginningAmount
              p Beginning Amount
            #BlueAmountDue
              p Amount Due
            #BlueBalance
              p Balance
          #CheckBalanceInformation
            #BeginningAmountStrip
              each val in transactions 
                p &pound;#{val.BeginningAmount}
            #AmountDueStrip
              each val in transactions 
                p -&pound;#{val.AmountDue}
            #BalanceStrip
              each val in transactions 
                p &pound;#{val.Balance}

